<div class="container profile-main-container justify-content-center">
    <div class="card text-center" style="height: 15rem">
        <div class="card-body">
            <a routerLink="/">back</a>
            <h3>Here should be displayed the information of an instructor...</h3>
            <button
                routerLink="/offer"
                type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#exampleModal">Send offer</button>
        </div>
    </div>
</div>

<!-- I couldn`t pass the data from Home component. I need to learn about it more. -->